@charset "UTF-8";
/* 共通部分 */
html {
    font-size: 100%;
}
body {
     font-family: "Yu gothic Medium","游ゴシック Medium",YuGothic,"游ゴシック体","ヒラギノ角ゴ Pro W3",sans-serif;
     line-height: 1.7;
     color: #000;
}
a {
     text-decoration: none;
}
img {
     max-width: 100%;
}
/* header */
header {
    background-color: #87CEFA;
    width: 100%;
}
.logo {
    width: 150px;
    margin-top: 14px;
}
.main-nav {
    display: flex;
    font-size: 1rem;    
    text-transform: uppercase;
    margin-top: 38px;
    list-style: none;
    font-family: serif;
}
.main-nav li{
    margin-left: 36px;
}
.main-nav a{
    color: #432;
}
.main-nav a:hover {
    color: #fff;
}
.page-header {
    display: flex;
    justify-content: space-between;
}
.wrapper {

    margin: 0 auto;
    padding: 0 4%;
}

/* home */
.home-content {
    text-align: right;
    margin: 150px 70px 150px 200px;
    font-size: 3rem;
    color: #fff;
    text-shadow: 1px 2px 3px #808080;
}
.home-content p {
    font-size: 1.7rem;
    margin: 3px 20 42px;
}
/* 見出し */
.page-title {
    font-size: 5rem;
    font-family: 'Philosopher', serif;
    text-transform: uppercase;
    font-weight: normal;
}
#home {
    background-image: url(https://github.com/mizuki510/s172873/blob/main/header-bg.png?raw=true);
    background-size: cover;
    min-height: 100vh;
}
#home .page-title {
    text-transform: none;
}

/* concept */
ul concept {
    display: flex;
}
.concept-img img {
    width: 650px;
    height: auto;
    margin: 30px 0 30px 150px;
    position: relative;
}
.box1 {
    position     : absolute;
    top: 150px;
    left: 750px;
    margin       : auto;
    width        : 350px;
    height       : 300px;
    background   : #ffffff;
    box-shadow: 10px 10px 10px #808080;
}

.concept-img h2 {
    text-align: center;
    padding: 40px;
    font-size: 2rem;
    font-family: serif;
}
.concept-img p {
    text-align: center;
    padding: 30px;
    font-size: 1rem;
    margin-bottom: 70px;
}


/* footer */
footer {
    background: #87cefa;
    text-align: center;
    padding: 25px 0;
}
footer p {
    color: #000;
    font-size: 0.875rem;
}

/* Menu */
.box2 {
    padding: 0.5em 1em;
    margin: 30px auto;
    font-weight: bold;
    border: solid 7px #E8D8BA;
    width: 600px;
    height: 650px;
}

.menu {
    max-width: 700px;
    margin: 0 auto;
    font-size: 1.5rem;
    padding: 40px 0;
}
.menu h2 {
    text-align: center;
    font-family: serif;
}
.menu dl {
    padding: 15px 90px;
    display: flex;
    justify-content: space-between;
}
.menu dt {
    display: table-cell;
    padding:0.4rem;
}
.menu dd {
    display: table-cell;
    padding:0.4rem;
}
.menu dd:after {
    display: inline-block;
    content: "";
    width: 1em;
    font-size: 0.7em;
}
.menu dd.from:after {
    content: "〜";
}

/* stylist */
ul {
    display: flex;
}
.stylist-img img {
    width: 650px;
    height: auto;
    margin: 30px 0 30px 150px;
    position: relative;
}
.box3 {
    position     : absolute;
    top: 165px;
    left: 750px;
    margin       : auto;
    width        : 350px;
    height       : 300px;
    background   : #ffffff;
    box-shadow: 10px 10px 10px #808080;
}

.stylist-img h2 {
    text-align: center;
    padding: 40px;
    font-size: 2rem;
    font-family: serif;
}
.stylist-img p {
    text-align: center;
    padding: 30px;
    font-size: 1rem;
    margin-bottom: 70px;
}

.grid {
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(3, minmax(240px, 1fr));
    margin-top: 6%;
    margin-bottom: 50px;
}

.item img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.item p {
    text-align: center;
}

/* comments */
#comments {
    background-color: #FAFCFF;
    text-align: center;
}

#comments .page-title {
    margin-top: 20px;
    text-align: center;
    font-size: 3rem;
}

.comments p {
    font-size: 1.75rem;
}

.comments-img {
    margin: 30px;
    display: flex;
    justify-content: center;
}

.c-img {
    width: 222.5px;
    height: 320px;
    margin: 30px 30px 30px 80px;
}

.box17{
    margin:2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}
.box17:before, .box17:after{
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
}
.box17:before {left: 10px;}
.box17:after {right: 10px;}
.box17 p {
    margin: 20px; 
    padding: 0;
}

@media (max-width: 600px) {
    .page-title {
        font-size: 2.5rem;
    }

    /* header */
    .main-nav {
        font-size: 1rem;
        margin: 10px 2px 10px 2px;
        flex-direction: column;
    }
    .main-nav li {
        margin: 0 20px;
    }

    /* HOME */
    .home-content {
        margin-top: 20%;
        text-align: center;
    }
    .page-header {
        flex-direction: column;
        align-items: center;
    }
    
    /* concept */
    .concept {
        flex-direction: column;
    }

    .concept-img image {
        width: 100%;
    }

    .box1 {
        width: 100%;
    }
}
